{% extends "admin/change_list.html" %}
{% load i18n admin_urls subadmin_tags %}

{% block content %}

<div id="content-main">
  <ul class="object-tools">
    {% if has_add_permission %}
    <li>
      {% url cl.opts|admin_urlname:'add' as add_url %}
      <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
        {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
      </a>
    </li>
    {% endif %}

    <li>
        <a href={{ previous_month }}>
            Previous month
        </a>
    </li>
    <li>
        <a href={{ next_month }}>
            Next month
        </a>
    </li>
  </ul>

  {{ calendar }}
  {{ event }}

</div>

{% endblock %}