<!DOCTYPE html>
<html>
<head>
<style>
  .List {
    width : 500px;
  }
  .Bulan {
    width : 250px;
  }
  td {
    border-style: solid;
  }
  tr {
    border-style: solid;
    border-radius: 50px;
  }

  img {
    width : 30%;
    height : 30%;
  }
  table {
    border-style: solid;
  }
</style>
</head>
<body>

  <div>

    <img src="logo.png" alt="Flowers in Chania">
    <h5> </h5>
    <br>
  </div>
  <div class="results">
    <table>
    <tbody>
      
      <tr>
        <td> Nama Siswa </td>
        <td> : </td>
        <td class="Bulan" > {{ nama }} </td>
      </tr>
      <tr>
        <td> Kelas </td>
        <td> : </td>
        <td> {{ kelas }} </td>
      </tr>
      <tr>
        <td> No induk </td>
        <td> : </td>
        <td> {{ no }} </td>
      </tr>
      <tr>
        <td> Jenis Pembayaran </td>
        <td> {{ X }} </td>
        <td> SPP </td>
      </tr>
      <tr>
        <td> </td>
        <td> {{ X }} </td>
        <td> Dana Peran Serta Masyarakat Rutin </td>
      </tr>
      <tr>
        <td> </td>
        <td> {{ X }} </td>
        <td> Dana Peran Serta Masyarakat Insindental </td>
      </tr>
      <tr>
        <td> </td>
        <td> {{ X }} </td>
        <td> Bimbel </td>
      </tr>
      
    </tbody>

  </table>
</div>
<div>
  <h3>Pembayaran Bulan : </h3>
</div>

<div class="results">
  <br>
  <table>
  <tbody>
    
    <tr>
      <td> {{ X }} </td>
      <td class="list"> Juli  </td>
      <td> {{ X }} </td>
      <td class="list"> Januari  </td>
    </tr>
    <tr>
      <td> {{ X }} </td>
      <td> Agustus  </td>
      <td> {{ X }} </td>
      <td> Februari  </td>
    </tr>
    <tr>
      <td> {{ X }} </td>
      <td> September  </td>
      <td> {{ X }} </td>
      <td> Maret  </td>
    </tr>
    <tr>
      <td> {{ X }} </td>
      <td> Oktober  </td>
      <td> {{ X }} </td>
      <td> April  </td>
    </tr>
    <tr>
      <td> {{ X }} </td>
      <td> November  </td>
      <td> {{ X }} </td>
      <td> Mei </td>
    </tr>
    <tr>
      <td> {{ X }} </td>
      <td> Desember </td>
      <td> {{ X }} </td>
      <td> Juni  </td>
    </tr>
  </tbody>

</table>
</div>
<div>

   <h5> Malang, {{ X }}</h5>
</div>

<!-- ... -->
</body>
</html>

